<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <p>
      <strong>Title:</strong>
    </p>
    <p>
      <strong>Body:</strong>
    </p>
    <%= link_to "Update Book", edit_book_path(@book) %>
  </body>
</html>  